/**=====================
      86. contacts CSS Start
==========================**/
.contact-options {
  li {
    .btn-category {
      line-height: 39px;
      border-radius: 3px;
      padding-left: 40px !important;
      padding: 0;
      color: $primary-color;
      font-weight: 500;
    }
  }
}
/**=====================
    86. contacts CSS Ends
==========================**/
