/**=====================
     70.  Document CSS Start
==========================**/
.document{
.page-wrapper{
    .page-main-header{
      .main-header-right {
        .nav-right{
          .navbar{
            .navbar-collapse{
              justify-content: flex-end;
              .navbar-nav{
                .nav-item{
                  .nav-link{
                    color: $theme-body-font-color;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
.page-wrapper{
    .page-body-wrapper{
      &.sidebar-icon{
        .page-body{
          margin-top: 120px;
        }
        header{
          &.main-nav{
            top: 92px;
            .main-navbar{
              .nav-menu{
                >li{
                  &:first-child{
                    display: block !important;
                  }
                }
                .nav-item{
                  .nav-link{
                    >p{
                      margin-bottom: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .card-body{
        .html-editor {
          color: rgba(255, 255, 255, 0.7);
          background-color: $dark-card-background;
          pre {
            color: rgba(255, 255, 255, 0.7);
            background-color: #000;
          }
        }
      }
      .jstree-default {
        padding: 30px;
        background-color: $dark-card-background;
        box-shadow: 1px 1px 2px 1px rgba(255, 255, 255, 0.08);
        .jstree-anchor {
          color: #a6aaaf;
        }
        .jstree-hovered {
          background-color: $dark-body-background;
          border: 1px solid $dark-border-color;
        }
        .jstree-clicked {
          color: white !important;
          background: transparent !important;
        }
        .jstree-icon {
          color: #656b78 !important;
        }
      }
      i {
        &.fa-star {
          color: $btn-search-bg-c;
        }
      }
    }
}
}
/**=====================
     70. Document CSS Ends
==========================**/
