- var prism                 = true;
- var theme_customizer      = true;
- var tooltip               = true;
- var counter               = true;
- var clipboard             = true;
- var customcard            = true;
- var apex_widget           = true;
- var apex                  = true;
- var chart_widget          = true;
- var chartist              = true;


doctype html
html(lang='en')
    include ../../components/header-files
    body
        include ../../components/loader
        // page-wrapper Start
        #pageWrapper.page-wrapper.horizontal-wrapper
            include ../../components/header
            // Page Body Start
            .page-body-wrapper.horizontal-menu
                include ../../components/sidebar
                .page-body
                    .container-fluid
                        .page-header
                            .row
                                .col-lg-6
                                    h3
                                      | Chart
                                    ol.breadcrumb
                                      li.breadcrumb-item
                                        a(href='index.html')
                                         | Home
                                      li.breadcrumb-item Dashboard
                                      li.breadcrumb-item Widgets
                                      li.breadcrumb-item.active Chart
                                .col-lg-6
                                  include ../../components/bookmark
                    // Container-fluid starts
                    .container-fluid
                      .row
                        .col-xl-3.col-md-12.box-col-12
                          .card.o-hidden
                            .chart-widget-top
                              .row.card-body.pb-0.font-primary
                                .col-5
                                  h6.f-w-400 Monthly Sale
                                  span.num
                                    span.counter 90
                                    | %
                                    i.icon-angle-up.f-12.ml-1
                                .col-7.text-right
                                  h4.num.total-value
                                    | $ 
                                    span.counter 3654
                                    | .00
                              div
                                #chart-widget1
                        .col-xl-3.col-md-12.box-col-12
                          .card.o-hidden
                            .chart-widget-top
                              .row.card-body.pb-0.font-danger
                                .col-5
                                  h6.f-w-400 Yearly Sale
                                  span.num
                                    span.counter 80
                                    | %
                                    i.icon-angle-up.f-12.ml-1
                                .col-7.text-right
                                  h4.num.total-value
                                    | $ 
                                    span.counter 3654
                                    | .00
                              div
                                #chart-widget2
                        .col-xl-3.col-md-12.box-col-12
                          .card.o-hidden
                            .chart-widget-top
                              .row.card-body.pb-0.font-success
                                .col-7
                                  h6.f-w-400 Active Users
                                  span.num
                                    span.counter 30
                                    | %
                                    i.icon-angle-up.f-12.ml-1
                                .col-5.text-right
                                  h4.num.total-value.counter 125,690
                              div#chart-widget3
                                #chart-widget-top-second.flot-chart-placeholder
                        .col-xl-3.col-md-12.box-col-12
                          .card.o-hidden
                            .chart-widget-top
                              .row.card-body.pb-0.font-info
                                .col-8
                                  h6.f-w-400 New Users
                                  span.num
                                    span.counter 68
                                    | %
                                    i.icon-angle-up.f-12.ml-1
                                .col-4.text-right
                                  h4.num.total-value
                                    span.counter 93
                                    | M
                              div#chart-widget4
                                #chart-widget-top-third.flot-chart-placeholder
                        .col-xl-7.col-md-12.box-col-12
                          .card.o-hidden
                            .card-header
                                h5 Users chart
                            .card-body
                              #chart-widget5
                        .col-xl-5.col-md-12.box-col-12
                          .card.o-hidden
                            .card-header
                                h5 Department sale
                            .card-body.d-flex.justify-content-center
                              #chart-widget6
                        .col-xl-12.col-lg-12.box-col-6.xl-50
                            .card
                              .card-header
                                .row
                                  .col-9
                                    h5 Skill Status
                                  .col-3.text-right
                                    i.text-muted(data-feather='trending-up')
                              .card-body
                                #chart-widget7
                        .col-xl-6.col-lg-12.box-col-6.xl-50
                            .row
                              .col-sm-6
                                .card.o-hidden
                                  #smallchart-widget1
                                  .card-body.px-0.p-t-0
                                        div.p-l-25.font-primary
                                          h4 $50,567
                                          span.p-b-10 Monthly Profit
                              .col-sm-6
                                .card.o-hidden
                                  #smallchart-widget2
                                  .card-body.px-0.p-t-0
                                        div.p-l-25.font-danger
                                          h4 $500,567
                                          span.p-b-10 yearly Profit
                              .col-sm-6
                                .card.o-hidden
                                  #smallchart-widget3
                                  .card-body.px-0.p-t-0
                                        div.p-l-25.font-warning
                                          h4 11k
                                          span.p-b-10 Monthly Project
                              .col-sm-6
                                .card.o-hidden
                                  #smallchart-widget4
                                  .card-body.px-0.p-t-0
                                        div.p-l-25.font-secondary
                                          h4 90k
                                          span.p-b-10 Yearly Project
                        .col-xl-6.col-md-12.box-col-12
                          .card.o-hidden
                            .card-header
                                h5 Market Value
                            .card-body
                              #chart-widget8
                        .col-xl-5.col-lg-12.box-col-12
                            .card
                              .card-header
                                h5 Finance
                              .card-body
                                .chart-container
                                  #columnchart
                        .col-xl-7.col-lg-12.box-col-6
                            .card
                              .card-header
                                h5 Order Status
                              .card-body
                                .chart-container
                                  #linechart
                        .col-xl-4.col-md-12.box-col-12
                          .card.o-hidden
                            .chart-widget-top
                              .row.card-body.pb-0.font-primary
                                .col-5
                                  h6.f-w-400 Monthly Sale
                                  span.num
                                    span.counter 90
                                    | %
                                    i.icon-angle-up.f-12.ml-1
                                .col-7.text-right
                                  h4.num.total-value
                                    | $ 
                                    span.counter 3654
                                    | .00
                              div
                                #chart-widget9    
                        .col-xl-4.col-md-12.box-col-12
                          .card.o-hidden
                            .chart-widget-top
                              .row.card-body.pb-0.font-danger
                                .col-5
                                  h6.f-w-400 Monthly Sale
                                  span.num
                                    span.counter 90
                                    | %
                                    i.icon-angle-up.f-12.ml-1
                                .col-7.text-right
                                  h4.num.total-value
                                    | $ 
                                    span.counter 3654
                                    | .00
                              div
                                #chart-widget10
                        .col-xl-4.col-md-12.box-col-12
                          .card.o-hidden
                            .chart-widget-top
                              .row.card-body.pb-0.font-success
                                .col-5
                                  h6.f-w-400 Monthly Sale
                                  span.num
                                    span.counter 90
                                    | %
                                    i.icon-angle-up.f-12.ml-1
                                .col-7.text-right
                                  h4.num.total-value
                                    | $ 
                                    span.counter 3654
                                    | .00
                              div
                                #chart-widget11         
                      
                    // Container-fluid Ends
                include ../../components/footer
        include ../../components/footer-files
