- var theme_customizer      = true;
- var tooltip               = true;
- var form_validation_custom= true;
- var contact_page          = true;

doctype html
html(lang='en')
    include ../../components/header-files
    body
        include ../../components/loader
        // page-wrapper Start
        #pageWrapper.page-wrapper.horizontal-wrapper
            include ../../components/header
            // Page Body Start
            .page-body-wrapper.horizontal-menu
                include ../../components/sidebar
                .page-body
                    .container-fluid
                        .page-header
                            .row
                                .col-lg-6
                                    h3
                                      | Contacts
                                    ol.breadcrumb
                                      li.breadcrumb-item
                                        a(href='index.html')
                                         | Home
                                      li.breadcrumb-item Apps   
                                      li.breadcrumb-item.active Contacts
                                .col-lg-6
                                  include ../../components/bookmark
                    // Container-fluid starts
                    .container-fluid
                      .email-wrap.bookmark-wrap
                        .row
                          .col-xl-3.box-col-6
                            .email-left-aside
                              .card
                                .card-body
                                  .email-app-sidebar
                                    .media
                                      .media-size-email
                                        img.mr-3.rounded-circle(src='../assets/images/user/user.png', alt='')
                                      .media-body
                                        h6.f-w-600 MARKJENCO
                                        p Markjecno@gmail.com
                                    ul.nav.main-menu(role='tablist').contact-options
                                      li.nav-item
                                        button.btn-primary.btn-block.btn-mail(type='button', data-toggle='modal', data-target='#exampleModal')
                                          i.mr-2(data-feather='users')
                                          |  New Contacts
                                        #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
                                          .modal-dialog.modal-lg(role='document')
                                            .modal-content
                                              .modal-header
                                                h5#exampleModalLabel.modal-title Add Contact
                                                button.close(type='button', data-dismiss='modal', aria-label='Close')
                                                  span(aria-hidden='true') ×
                                              .modal-body
                                                form.form-bookmark#bookmark-form.needs-validation(novalidate='')
                                                  .form-row
                                                    .form-group.col-md-12
                                                      label Name
                                                      .row
                                                        .col-md-6
                                                          input.form-control(type='text', required='', placeholder='First Name', autocomplete='off')
                                                        .col-md-6    
                                                          input.form-control(type='text', required='', placeholder='Last Name', autocomplete='off')
                                                    .form-group.col-md-12
                                                      label Email Address
                                                      input.form-control(type='text', required='', autocomplete='off')
                                                    .form-group.col-md-12
                                                      label Phone
                                                      .row
                                                        .col-md-6
                                                          input.form-control(type='number', required='', autocomplete='off')
                                                        .col-md-6
                                                          select.form-control
                                                            option Mobile
                                                            option Work
                                                            option Others
                                                  a.pl-0(href='#') Add more information
                                                  button.btn.btn-secondary(type='submit') Save
                                                  button.btn.btn-primary(type='button', data-dismiss='modal') Cancel
                                      li.nav-item
                                        span.main-title
                                          |  Views
                                      li
                                        a#pills-personal-tab(data-toggle='pill', href='#pills-personal', role='tab', aria-controls='pills-personal', aria-selected='true')
                                          span.title
                                            |  Personal
                                      li
                                        button.btn.btn-category(type='button', data-toggle='modal', data-target='#exampleModal1')
                                          span.title
                                            |  + Add Category
                                        #exampleModal1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel1', aria-hidden='true')
                                          .modal-dialog(role='document')
                                            .modal-content
                                              .modal-header
                                                h5#exampleModalLabel1.modal-title Add Category
                                                button.close(type='button', data-dismiss='modal', aria-label='Close')
                                                  span(aria-hidden='true') ×
                                              .modal-body
                                                form.form-bookmark.needs-validation(novalidate='')
                                                  .form-row
                                                    .form-group.col-md-12.mb-0
                                                      input.form-control(type='text', required='', placeholder='Enter category name', autocomplete='off')
                                                  input#index_var(type='hidden', value='1' )
                                                  button.btn.btn-secondary(type='submit') Save
                                                  button.btn.btn-primary(type='button', data-dismiss='modal') Cancel
                                      li
                                        a#pills-organization-tab.show(data-toggle='pill', href='#pills-organization', role='tab', aria-controls='pills-organization', aria-selected='false')
                                          span.title
                                            |  Organization
                          .col-xl-9.col-md-12.box-col-12
                            .email-right-aside.bookmark-tabcontent.contacts-tabs
                              .card.email-body.radius-left
                                .pl-0
                                  .tab-content
                                    #pills-personal.tab-pane.fade.active.show(role='tabpanel', aria-labelledby='pills-personal-tab')
                                      .card.mb-0
                                        .card-header.d-flex
                                          h5 Personal
                                        .card-body.p-0
                                          .row.list-persons
                                            .col-sm-4.col-xs-12
                                              #v-pills-tab.nav.flex-column.nav-pills(role='tablist', aria-orientation='vertical')
                                                a#v-pills-user-tab.nav-link.active(data-toggle='pill', href='#v-pills-user', role='tab', aria-controls='v-pills-user', aria-selected='true')
                                                  .media
                                                    img.img-50.img-fluid.m-r-20.rounded-circle(src='../assets/images/user/2.png' alt='')
                                                    .media-body
                                                      h6 Bucky Barnes
                                                      p barnes@gmail.com
                                                a#v-pills-profile-tab.nav-link(data-toggle='pill', href='#v-pills-profile', role='tab', aria-controls='v-pills-profile', aria-selected='false') 
                                                  .media
                                                    img.img-50.img-fluid.m-r-20.rounded-circle(src='../assets/images/user/8.jpg' alt='')
                                                    .media-body
                                                      h6 Comeren Diaz
                                                      p comeren@gmail.com
                                                a#v-pills-messages-tab.nav-link(data-toggle='pill', href='#v-pills-messages', role='tab', aria-controls='v-pills-messages', aria-selected='false')
                                                  .media
                                                    img.img-50.img-fluid.m-r-20.rounded-circle(src='../assets/images/user/1.jpg' alt='')
                                                    .media-body
                                                      h6 Issa Bell
                                                      p issabell@gmail.com
                                                a#v-pills-settings-tab.nav-link(data-toggle='pill', href='#v-pills-settings', role='tab', aria-controls='v-pills-settings', aria-selected='false')
                                                  .media
                                                    img.img-50.img-fluid.m-r-20.rounded-circle(src='../assets/images/user/14.png' alt='')
                                                    .media-body
                                                      h6 Andew Jon
                                                      p andewjon@gmail.com
                                            .col-sm-8.col-xs-12
                                              #v-pills-tabContent.tab-content
                                                #v-pills-user.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='v-pills-user-tab')
                                                  .profile-mail
                                                    .media
                                                      img.img-100.img-fluid.m-r-20.rounded-circle(src='../assets/images/user/2.png' alt='')
                                                      .media-body.mt-0
                                                        h5 Bucky Barnes
                                                        p barnes@gmail.com
                                                        ul
                                                          li
                                                            a(href='#') Edit
                                                          li
                                                            a(href='#') Delete
                                                          li
                                                            a(href='#') History
                                                          li
                                                            a(href='#') Print
                                                    .email-general
                                                      h6 General
                                                      p Email Address: 
                                                        span.font-primary barnes@gmail.com 
                                                #v-pills-profile.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-profile-tab')
                                                  p
                                                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                                                #v-pills-messages.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-messages-tab')
                                                  p
                                                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                                                #v-pills-settings.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-settings-tab')
                                                  p
                                                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                                    #pills-organization.fade.tab-pane(role='tabpanel', aria-labelledby='pills-organization-tab')
                                      .card.mb-0
                                        .card-header.d-flex
                                          h6.mb-0 Shared with me
                                          ul
                                            li
                                              a.grid-bookmark-view(href='#')
                                                i(data-feather='grid')
                                            li
                                              a.list-layout-view(href='#')
                                                i(data-feather='list')
                                        .card-body
                                          .details-bookmark.text-center
                                            span No Bookmarks Found.
                    // Container-fluid Ends
                include ../../components/footer
        include ../../components/footer-files
