// Page Sidebar Start
header.main-nav
	nav
		.main-navbar
			#mainnav
				ul.nav-menu.custom-scrollbar
					li.nav-item
						a.nav-link(href='#section1', data-original-title='', title='')
							p Review	
// Page Sidebar Ends
