// Loader starts
.loader-wrapper
  span.loaderSpan.span1
  span.loaderSpan.span2
  span.loaderSpan.span3
  span.loaderSpan.span4
  span.loaderSpan.span5
  span.loaderSpan.span6
  span.loaderSpan.span7
  span.loaderSpan.span8
  span.loaderSpan.span9

// Loader ends